
body {
    font-family: Arial, sans-serif;
    background-color: #d4d0d0;
    color: #333;
    margin: .5cm;
    padding: .1cm;
}

header {
    background-color: #d10000;
    color:#ffffff;
    text-align: center;
    padding: 20px;
}

section{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #4CAF50;
    text-align: center;
}

.product {
    margin: 20px;
    text-align: center;
    padding: 10px;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.email-field {
 
    margin-bottom: 20px;
    
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    
    border-radius: 5px;
    padding: 5px;
    
    border: 0px;
}

footer {
    margin-top: 30px;
    padding: 20px;
    
    background-color: #000000;
    border-radius: 8px;
    text-align: center;
    color: #ddd;
    box-shadow:  10px 10px 5px #6a6a6a;
} 
